.feed {
  flex: 0.4;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
  min-width: fit-content;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.feed__header {
  position: sticky;
  top: 0;
  z-index: 99;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15px 20px;
  background-color: var(--twitter-background);
}

.feed::-webkit-scrollbar {
  display: none;
}
