body {
  --twitter-blue: #1da1f2;
  --twitter-color: #50b7f5;
  --twitter-background: #15202b;
  --twitter-light-gray: #f5f8fa;
  background-color: var(--twitter-background);
  color: white;
}

.app {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

input:focus {
  outline: none;
}
